:root {
  --text: #262222;
  --background: #ffffff;
  --primary-button: #b8c18a;
  --secondary-button: #dbe0c2;
  --accent: #ffffff;
  --spacer: 1rem;
  --border-radius: 5px;
  --border: 1px solid var(--secondary-button);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--background);
  color: var(--text);
}

body {
  line-height: 1.6;
  font-size: 1.125rem;
  margin-inline: auto;
  font-family: sans-serif;
  width: min(100ch, 100% - 1rem);
}

img,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  color: var(--text);
}

a:hover {
  color: var(--primary-button);
}

h1,
h2,
h3,
h4,
h5 {
  margin-block-start: 0;
  margin-block-end: 0;
}

nav {
  display: grid;
  grid-auto-flow: column;
  gap: var(--spacer);
  grid-template-columns: 1fr auto auto;
}

form {
  display: grid;
  gap: var(--spacer);
}

input {
  font: inherit;
  border: var(--border);
  padding: var(--spacer);
  accent-color: var(--accent);
  border-radius: var(--border-radius);
  background-color: var(--background);
}

input:focus:not([type="range"]) {
  outline: none;
  border-color: var(--accent);
  transform: scale(1.02);
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}

button {
  font: inherit;
  cursor: pointer;
  background-color: var(--secondary-button);
  padding: var(--spacer);
  border: var(--border);
  border-radius: var(--border-radius);
}

button:hover,
button:focus {
  outline: none;
  border-color: none;
  background-color: var(--primary-button);
  transform: scale(1.02);
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}

dialog {
  width: 90%;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: var(--spacer);
  border-radius: var(--border-radius);
  border: var(--border);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}

.spacer {
  padding-inline-start: var(--spacer);
}

.sticky {
  top: 0;
  position: sticky;
  text-align: right;
  padding: var(--spacer);
}

.grid {
  display: grid;
  gap: var(--spacer)
}

.border {
  padding: .5rem;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}

.card {
  padding: var(--spacer);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}

.form-item {
  display: grid;
}

.row {
  display: grid;
  grid-auto-flow: column;
}

.strength-journal-set {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr .1fr;
  gap: var(--spacer);
}