:root {
  --spacer: 1rem;
  --border-radius: 0.25rem;
  --border: 1px solid grey;
  --clr-primary: red;
  --clr-secondary: black;
  --clr-tertiary: white;
  --clr-background: color-scheme(light dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

body {
  line-height: 1.6;
  font-size: 1.125rem;
  margin-inline: auto;
  font-family: 'system-ui';
  width: min(100ch, 100% - 1rem);
}

img,
svg,
video {
  display: block;
  max-width: 100%;
}


h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

form {
  gap: 1.25rem;
  display: grid;
}

input {
  font: inherit;
  padding: var(--spacer);
  accent-color: var(--clr-primary);
  border-radius: var(--border-radius);
  background-color: var(--clr-background);
}

input:focus {
  outline: none;
  border-color: var(--clr-primary);
}


button {
  font: inherit;
  cursor: pointer;
  padding: var(--spacer);
  border-radius: var(--border-radius);
  background-color: var(--clr-background);
}

button:hover {
  border-color: var(--clr-primary);
}



.title {
  font-size: 1.5rem;
  color: var(--clr-primary);
}

.subtitle {
  font-size: 1.25rem;
  padding: 0.25rem 0;
  color: var(--clr-primary);
}

.alternative-subtitle {
  padding: 0.25rem 0;
  font-size: 1.25rem;
  color: var(--clr-tertiary);
}

.spacer {
  padding-inline-start: var(--spacer);
}

.sticky {
  top: 0;
  position: sticky;
  text-align: right;
}

.grid {
  display: grid;
  gap: var(--spacer);
}

.border {
  padding: .5rem;
  border: var(--border);
  border-radius: var(--border-radius);
}

.form-item {
  display: grid;
}